
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

/* buttons */

.button-contained {
    display: inline-flex;
    height: 36px;
    min-width: 97px;
    /* padding: 16px 16px; */
    align-items: center;
    justify-content: center;

    background: #4FC2F7;
    border: 0;
    border-radius: 200px;
}

.button-contained.label {
    /* Button / Roboto Medium */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    /* identical to box height, or 114% */
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-text {
    position: absolute;
    width: 87px;
    height: 36px;
}

.button-text.surface {
    background: rgba(79, 194, 247, 0.0001);
}

.button-text.label {
    /* Label */
    position: absolute;
    height: 16px;
    left: 8px;
    right: 8px;
    top: calc(50% - 16px/2 - 0.4px);

    /* Button / Roboto Medium */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    /* identical to box height, or 114% */
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    /* 1 / Secondary — 300* */
    color: #4FC2F7;
}

.button-floating {
    position: absolute;
    width: 56px;
    height: 56px;
}

.button-floating.surface {
    
    /* 1 / Secondary — 300* */
    background: #4FC2F7;

    /* 4dp — Elevation */
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14)), drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.12)), drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.2));
}

.button-floating.icon {
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(50% - 14px/2);
    top: calc(50% - 14px/2);

    /* 1 / Icon on Primary */
    background: #FFFFFF;
}