/* make decisions on grid stuff before adding the css to this branch */

.list {
    /* list container for lists of content */
    position: absolute;
    width: 360px;

    /* grid stuff goes here */
}

.list.item{
    /* items which make up the list */
    position: absolute;
    height: 72px;
}

.list.item.divider {
    /* divider for between list items */
    position: absolute;
    height: 1px;
    left: 72px;
    right: 0px;
    top: calc(50% - 1px/2 + 35.5px);
    background: rgba(0, 0, 0, 0.12);
}

.list.item.icon {
    /* icon for list items */
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: calc(50% - 24px/2);

    /* Black — Inactive */
    background: rgba(0, 0, 0, 0.54);
}

.list.item.image-list.image {
    /*image for image-list items */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 16px;
    top: calc(50% - 40px/2);
}

.list.item.image-list.label {
    /* label text for image list items */
    position: absolute;
    height: 24px;
    left: 72px;
    right: 56px;
    top: calc(50% - 24px/2 - 7.6px);

    /* Subtitle 1 / Roboto Regular */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.15px;

    /* All / Black — High Emphasis */
    color: rgba(0, 0, 0, 0.87);
    mix-blend-mode: normal;
}

.list.item.image-list.context {
    /* context text for image list items */
    /* Body 2 */
    position: absolute;
    height: 20px;
    left: 72px;
    right: 56px;
    top: calc(50% - 20px/2 + 13.6px);

    /* Body 2 / Roboto Regular */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */
    letter-spacing: 0.25px;

    /* All / Black — Medium Emphasis */
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
}